
/*base all pages*/
body {

    margin                                  : 10px;
    padding                                 :0;
    background-color                        :#ffffff;
    
}
#browser_base {
    width                                   :960px;
    margin                                  : 0px auto; 
    background-color                        :#ffffff;
    border                                  :4px solid #ffffff;
}
#browser_top {
    width                                   : 953px;
    margin                                  : 0px auto;
    border                                  :4px solid #ffffff;
    background                              :#ffffff;
}
#browser_central {
    position                                : relative;
    width                                   : 953px;
    margin                                  : 0px auto;
    border                                  :4px solid #ffffff;
    background                              :#ffffff;
}
#browser_bottom {
    position                                : relative;
    width                                   : 953px;
    margin                                  : 0px auto;
    border                                  :4px solid #ffffff;
    background                              :#ffffff;
}
/*logo el shaday all pages*/
.browser_top_logoes {
    background-image                        : url(images/logoes.png);/* image top logo el shaday*/
    background-size                         : 160px 140px;
    background-repeat                       : no-repeat;
    z-index                                 : 1;
}
/*all pages -index -album "acesse album"*/
#propostaped_image_album {
    position                                : relative;
    z-index                                 : 4;
    margin-top                              : -686px;
    height                                  : 682px;
    background-image                        : url(images/imglinkgaleria.png);/* image center all pages photos childrens*/
    background-position                     : 738px 290px;
    background-repeat                       : no-repeat;
    background-size                         : 157px 101px; 
}

/*menu responsive all pages*/
ul.egmenu { 
    margin-top                              : -83px;
    margin-bottom                           : 37px;
    height                                  : 45px;
    width                                   : 960px; 
    z-index                                 : 2;
}
ul.egmenu > li { 
    float                                   : left; 
    position                                : relative; 
    margin-top                              : 0px;
    left                                    : 200px; 
    
}
ul.egmenu > li {
    border                                  : 0;
    border-top                              : 12px solid;
    padding-top                             : 7px;
}
ul.egmenu > li.home { border-color          : #fd427c;}
ul.egmenu > li.sobre { border-color         : #Fee900;}
ul.egmenu > li.ensino { border-color        : #02c72e;}
ul.egmenu > li.matricula { border-color     : #Fe0903;}
ul.egmenu > li.galeria { border-color       : #0337fb;}
ul.egmenu > li.agenda { border-color        : #15ff03;}
ul.egmenu ul {
    background                              : none; 
    display                                 : none; 
    position                                :absolute;
    top                                     : 19px;
    right                                   : -30px;
}
ul.egmenu a { 
    cursor                                  : pointer; 
    display                                 : block; 
    color                                   : #000000; 
    line-height                             : 13px; 
    padding                                 : 30px;
    padding-bottom                          : 0px;
    padding-top                             : 0px; 
    text-decoration                         : none;
    font-size                               : 11px;
}
ul.egmenu li { list-style                   : none; }
ul.egmenu li:hover { background             : #ffffff;  }
ul.egmenu li:hover ul { display             : block;  }

/*All pages image pencil top*/
#imagecenter_top { 
    top                                     : 0px;
    position                                : relative;
    z-index                                 : 3;
    background-image                        : url(images/backgroundalto.png);/* image tip of pencil*/
    background-size                         : 864px;
    background-position                     : center;
    background-repeat                       : no-repeat;
    height                                  : 102px;
}
/*all pages -page-index image notebook*/
#imagecenter_center {
    position                                : relative;
    z-index                                 : 4;
    margin-top                              : -56px;
    height                                  : 828px;
    background-image                        : url(images/bgpropostaped.png);/* image sheet of notebook*/
    background-position                     : right;
    background-repeat                       : no-repeat;
    background-size                         : 954px 790px;
    }
/*all pages image pencil bottom*/
#imagecenter_bottom {
    position                                : relative;
    z-index                                 : 1;
    margin-top                              : -92px;
    height                                  : 109px;
    background-image                        : url(images/backgroundbaixo.png);/* image pencil*/
    background-size                         : 864px;
    background-position                     : center;
    background-repeat                       : no-repeat;
}
/*e-mails all pages bottom*/
#menu_bottom {
    margin-top                              : 9px; 
    margin-bottom                           : 0px;
    padding-left                            : 42px; 
    padding-top:                            : 20px; 
    text-align                              : center;
    font-weight                             : bold;
    font-size                               : 12px;
} 
#menu_bottom a { 
    margin-bottom                           : 2px; 
    margin-left                             : 12.8px;
    padding-top                             : 0px;
    font-weight                             : bold;
    color                                   : #696969;
}
#menu_bottom a:hover {
    color                                   : #FF0000;
    font-style                              : normal;
    font-weight                             : bold;
    letter-spacing                          : 2.5px;
}
#endereco {
    position                                : relative;
    margin-top                              : 14px;
    margin-left                             : 602px;
    text-align                              : center;
    font-size                               : 9px;
    color                                   : #696969;
    background                              : url('logold.png');/* image logo lado direito*/
}
/*all pages -index -prematricula*/
p.text {
    position                                :relative;
    width                                   : 760px;
    top                                     : 114px;
    left                                    : 128px;
    text-align                              : justify;
    font-size                               : 12px;
}
h1{
    position                                :relative;
    top                                     : 98px;
    left                                    : 124px;
    margin-top                              : 1px;
    color                                   : #000fff;
    font-weight                             : bold;
    font-style                              : italic;
    text-align                              : justify;
    font-size                               : 33px;
    font-family                             : verdana;
    text-decoration                         : underline;
}
/*Page index banner*/
#imagecenter_center_index {
    margin-top                              : -90px;
    margin-bottom                           : 0px;
    height                                  : 621px;
    background-image                        : url(images/banner.png); /* image center chalkboard page-index*/
    background-position                     : center;
    background-repeat                       : no-repeat;
    background-size                         : 880px 451px;
}
 
/*page propostaped image childrens*/
#propostaped_image_childr {
    position                                : relative;
    z-index                                 : 3;
    margin-top                              : -122px;
    height                                  : 652px;
    background-image                        : url(images/imgpropostaped.png); /* image center sheet of notebook page propostaped*/
    background-position                     : 123px 254px;
    background-repeat                       : no-repeat;
    background-size: 488px 373px;   
}
/*page educacaofund image childrens*/
#children_image_ensinofund{
    position                                : relative;
    z-index                                 : 3;
    margin-top                              : -130px;
    height                                  : 659px;
    background-image                        : url(images/imgensinofund.png);/* image bottom childrens page ensinofund*/
    background-position                     : 160px 254px;
    background-repeat                       : no-repeat;
    background-size                         : 544px 373px; 
}
/*page educacaoinf image toys*/
#toys_image_ensinoinf{
    position                                : relative;
    z-index                                 : 3;
    margin-top                              : -124px;
    height                                  : 652px;
    background-image                        : url(images/imgeducacaoinf.png);/* image bottom toys page-ensinoinf*/
    background-position                     : 152px 257px;
    background-repeat                       : no-repeat;
    background-size                         : 576px 329px;   
}
/*page listamaterias text lynks*/
#lista{
    position                                :relative;
    width                                   : 760px;
    top                                     : 114px;
    left                                    : 128px;
    text-align                              : justify;
    font-size                               : 25px;
    text-decoration                         : none;
    font-style                              : italic;
}
#lista ul {list-style                       : none;}
#lista a:link {text-decoration              : none;color: #000099}
#lista a:active {text-decoration            : none;}
#lista a:visited {text-decoration           : none;color: #000099}
#lista a:hover {text-decoration             : underline;color: #000099}

/*page prematricula text top and center*/
label {
    width                                   : 10px;
    border                                  :1px;
    margin                                  : -6px -6px 0px 10px;
    display                                 : inline;

}
.mensagemlabel{
    width                                   : 191px;
    border                                  :4px;
    margin                                  : 13px -6px 0px 281px;
    display                                 : block;
    font-style                              : italic;
    font-size                               : 20px;
    font-family                             : verdana;
    color                                   : #0000ff;
}
/*marquee bottom frm page prematricula*/
.marquee{
    width                                   : 424px;
    font-size                               : 19px;
    font-weight                             : bold;
    color                                   : #ff0000; 
    padding                                 : 2px;
    text-align                              : center;
    font-weight                             : bold;
    text-shadow                             : 0.1em 0.1em .15em #696969; 
}
/*button send pages prematricula and contato*/
.btnsend{
    background-color                        : #696969;
    width                                   : 81px;
    font-size                               : 19px;
    font-style                              : italic;
    font-family                             : verdana;
    color                                   : #000000;
    box-shadow                              : -1px 1px 5px 4px #999;
    border-radius                           : 12px;
    margin                                  : 1px -4px;
}
/*text page prematricula*/
#text_prematric{
    position                                :relative;
    width                                   : 760px;
    top                                     : 59px;
    left                                    : 128px;
    text-align                              : justify;
    font-size                               : 14px;
}
#prematric{
    position                                :relative;
    top                                     : 58px;
    left                                    : 124px;
    margin-top                              : 1px;
    color                                   : #000fff;
    font-weight                             : bold;
    font-style                              : italic;
    text-align                              : justify;
    font-size                               : 24px;
    font-family: verdana;
    text-decoration: underline;
}

#prematric_text_ficha {
    position                                :relative;
    width                                   : 760px;
    top                                     : 70px;
    left                                    : 370px;
    text-align                              : justify;
    font-size                               : 20px;
    text-decoration                         : underline;
    font-family                             : verdana;
    color                                   : #ff0000;
    font-weight                             : bold;
}
/*frm inscrição itens page prematricula*/
#frm_inscricao {
    position                                :relative;
    top                                     : 70px;
    left                                    : 122px;
    size                                    : 12px 120px;
    font-style                              : italic;
    font-size                               : 12px;
    font-family                             : verdana;
    color                                   : #0000ff;
    font-weight                             : bold;
}
#frm_inscricao input.nome_aluno {
    width                                   : 395px;
    padding                                 : 4px; 
    border                                  :1px solid #000000;
    margin                                  : 5px;
    display                                 : inline;
    background                              : #e8e8e8;
    box-shadow                              :0 0 5px #000;
    box-shadow                              :0 0 5px #000;
    box-shadow                              :0 0 5px #000;
    text-align                              : center;
    text-decoration                         : bold;
    font-weight                             : bold;
    color                                   : #0000ff;
    border-radius                           : 12px;
}
#frm_inscricao input.serie_ano {
    width                                   : 70px;
    padding                                 : 4px; 
    border                                  :1px solid #000000;
    margin                                  : 5px;
    display                                 : inline-block;
    background                              : #e8e8e8;
    box-shadow                              :0 0 5px #000;
    box-shadow                              :0 0 5px #000;
    box-shadow                              :0 0 5px #000;
    text-align                              : center;
    text-decoration                         : bold;
    font-weight                             : bold;
    color                                   : #0000ff;
    border-radius                           : 12px;
}
#frm_inscricao input.periodo {
    width                                   : 63px;
    padding                                 : 4px; 
    border                                  :1px solid #000000;
    margin                                  : 5px;
    display                                 : inline-block;
    background                              : #e8e8e8;
    box-shadow                              :0 0 5px #000;
    box-shadow                              :0 0 5px #000;
    box-shadow                              :0 0 5px #000;
    text-align                              : center;
    text-decoration                         : bold;
    font-weight                             : bold;
    color                                   : #0000ff;
    border-radius                           : 12px;
}    
#frm_inscricao input.nome_resp {
    width                                   : 395px;
    padding                                 : 4px; 
    border                                  :1px solid #000000;
    margin                                  : 5px;
    display                                 : inline-block;
    background                              : #e8e8e8;
    box-shadow                              :0 0 5px #000;
    box-shadow                              :0 0 5px #000;
    box-shadow                              :0 0 5px #000;  
    text-align: center;
    text-decoration: bold;
    font-weight: bold;
    color: #0000ff; 
    border-radius: 12px;
}
#frm_inscricao input.grau_de_parent {
    width                                   : 146px;
    padding                                 : 4px; 
    border                                  :1px solid #000000;
    margin                                  : 5px;
    display                                 : inline-block;
    background                              : #e8e8e8;
    box-shadow                              :0 0 5px #000;
    box-shadow                              :0 0 5px #000;
    box-shadow                              :0 0 5px #000;
    text-align                              : center;
    text-decoration                         : bold;
    font-weight                             : bold;
    color                                   : #0000ff;
    border-radius                           : 12px;
}  
#frm_inscricao input.telefone_resid {
    width                                   : 145px;
    padding                                 : 4px; 
    border                                  :1px solid #000000;
    margin                                  : 5px;
    display                                 : inline-block;
    background                              : #e8e8e8;
    box-shadow                              :0 0 5px #000;
    box-shadow                              :0 0 5px #000;
    box-shadow                              :0 0 5px #000;
    text-align                              : center;
    text-decoration                         : bold;
    font-weight                             : bold;
    color                                   : #0000ff;
    border-radius                           : 12px;
}    
#frm_inscricao input.email {
    width                                   : 220px;
    padding                                 : 4px; 
    border                                  :1px solid #000000;
    margin                                  : 5px;
    display                                 : inline-block;
    background                              : #e8e8e8;
    box-shadow                              :0 0 5px #000;
    box-shadow                              :0 0 5px #000;
    box-shadow                              :0 0 5px #000;
    text-align                              : center;
    text-decoration                         : bold;
    font-weight                             : bold;
    color                                   : #0000ff;
    border-radius                           : 12px;
}        
#frm_inscricao input.adress {
    width                                   : 313px;
    padding                                 : 4px; 
    border                                  :1px solid #000000;
    margin                                  : 5px;
    display                                 : inline;
    background                              : #e8e8e8;
    box-shadow                              :0 0 5px #000;
    box-shadow                              :0 0 5px #000;
    box-shadow                              :0 0 5px #000;
    text-align                              : center;
    text-decoration                         : bold;
    font-weight                             : bold;
    color                                   : #0000ff;
    border-radius                           : 12px;
}
#frm_inscricao textarea.mensagem {
    height: 160px;
    width                                   : 784px;
    padding                                 : 4px; 
    border                                  :1px solid #000000;
    margin                                  : 5px;
    display                                 : inline;
    background                              : #e8e8e8;
    box-shadow                              :0 0 5px #000;
    box-shadow                              :0 0 5px #000;
    box-shadow                              :0 0 5px #000;
    text-align                              : center;
    text-decoration                         : bold;
    font-weight                             : bold;
    color                                   : #0000ff;
    border-radius                           : 12px;
}
/*page galeria*/
.link_el_shaday {
    position                                : relative;
    float                                   : left;
    margin-left                             : 130px;
    margin-top                              : 98px;
    z-index                                 : 3;
    font-weight                             : bold;
    text-decoration                         : none;
}
#image_facebook{
    margin-top                              : 123px;
    margin-bottom                           : 0px;
    height                                  : 621px;
    background-image                        : url(images/foto_alunos.png); /* image center chalkboard page-index*/
    background-position                     : center;
    background-repeat                       : no-repeat;
    background-size                         : 710px 588px;
}
/*map of localization page-contato*/
#image_mapa {
    position                                : relative;
    z-index                                 : 4;
    margin                                  : -561px 639px 53px 37px;
    height                                  : 273px;
    right                                   : -547px; 
    background-image                        : url(images/mapa_local_es.png);/* image center all pages photos childrens*/
    background-position                     : 9px 69px;
    background-repeat                       : no-repeat;
    background-size                         : 267px 187px; 
}
/*text page contato*/
h3 {
    position                                :relative;
    top                                     : -469px;
    left                                    : 601px;
    margin-top                              : 1px;
    color                                   : #696969;
    font-weight                             : bold;
    font-style                              : italic;
    text-align                              : justify;
    font-size                               : 22px;
    font-family                             : verdana;
    text-decoration                         : none;

}